xarray
dask[complete]
pystac-client
stackstac
rioxarray
geopandas
shapely
numpy
pandas
odc-stac
hvplot
holoviews
requests
aiohttp
zarr
geoviews
planetary-computer
leafmap
localtileserver
folium
ipyleaflet
keplergl
